<head>
	{% load static %}
	 <!-- Comes from open-source https://materializecss.com/getting-started.html-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>



<body>

<nav>
	<div class="nav-wrapper">
	
	<div class="row">
		<!-- Home Button Adjustment -->
		<div class="col-1 d-block d-md-none">
		    <a href="#"><i class="material-icons left">home</i>
		</div>
	    <div class="col-3 d-none d-md-block">
		    <a href="#"><i class="material-icons left">home</i>
		   		<div class="navbar-text" style="font-size:20px">
		   		MyAlmanack</div>
	   		</a>
    	</div>
    	<!-- Notification Button -->
    	<div class="col-1  px-3">
		    <a href="#"><i class="material-icons left">notification_important</i>
	   		</a>
    	</div>
    	<!-- Search Bar Adjustment -->
	    <div class="col-7 d-block d-md-none">
	      <form>
	        <div class="input-field">
	          <input id="search" type="search" required>
	          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
	          <i class="material-icons">close</i>
	        </div>
	      </form>
	    </div>
	    <div class="col-4 d-none d-md-block px-0 pl-0">
	      <form>
	        <div class="input-field">
	          <input id="search" type="search" required>
	          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
	          <i class="material-icons">close</i>
	        </div>
	      </form>
	    </div>
	    <!-- Friends Button -->
    	<div class="col-1 pl-0">
		    <a href="#"><i class="material-icons right">person_add</i>
	   		</a>
    	</div>
    	<!-- Groups Button -->
    	<div class="col-1 pl-0" >
		    <a href="#"><i class="material-icons right">people</i>
	   		</a>
    	</div>
    	<!-- Menu Button -->
    	<div class="col-1 pl-0">
		    <a href="#"><i class="material-icons right">menu</i>
	   		</a>
    	</div>

  </div>
    </div>
  	</nav>


  	{% block content%}
  	{% endblock %}

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>