{% extends "WEBSITECORE/header.html"%}

{% block content %}
	<div class="row">
		{% for person in people%}
	    <div class="col">
	      <div class="card blue-grey darken-1">
	        <div class="card-content white-text">
	          <span class="card-title">{{person.name}}</span>
	          <p>Phone Number: {{person.phone_number}}</p>
	          <p>Birthday: {{person.birthday}}</p>
	          <p>Calendar Data: {{person.calendar_data}}</p>
	        </div>
	        <div class="card-action">
	        	<a href="#">Visit</a>
	        </div>
	      </div>
	    </div>
		{% endfor %}
  	</div>

{% endblock %}
