{% extends "WEBSITECORE/pwheader.html"%}

{% block content %}

<div class="container">


	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col">
				MyAlmanack
			</div>
		</div>
	</div>

	<br>
	<br>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col">
				Register a New Account
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col text-xs-left">
				<text style="color:red;">*</text>
				First Name:
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col-5">
	  		<input type="text" name="firstname" pattern="^[a-zA-Z]+$" title="Please enter a valid first name." required>
			</div>
		</div>
	</div>


	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col align-self-center">
				<text style="color:red;">*</text>
				Last Name:
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col-5">
	  		<input type="text" name="lastname" pattern="^[a-zA-Z]+$" title="Please enter a valid first name." required>
			</div>
		</div>
	</div>


	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col align-self-center">
				Phone Number: 
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col-5">
	  		<input type="text" name="phone_number" pattern="^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$" title="Please enter a valid first name.">
			</div>
		</div>
	</div>


	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col align-self-center">
				<text style="color:red;">*</text>
				Email Address:
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col-5">
	  		<input type="email" name="email" pattern="^([\w\-\.]+)@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,4}))$" title="Please enter a valid first name." required>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col align-self-center">
				<text style="color:red;">*</text>
				Confirm Email:
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col-5">
	  		<input type="email" name="email" pattern="^([\w\-\.]+)@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,4}))$" title="Please enter a valid first name." required>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col-5 align-self-center">
				<text style="color:red;">*</text>Birthday:
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col-5">
	  		<input class="required" type="date" name="birthday" pattern="(?n:^(?=\d)((?<month>(0?[13578])|1[02]|(0?[469]|11)(?!.31)|0?2(?(.29)(?=.29.((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|(16|[2468][048]|[3579][26])00))|(?!.3[01])))(?<sep>[-./])(?<day>0?[1-9]|[12]\d|3[01])\k<sep>(?<year>(1[6-9]|[2-9]\d)\d{2})(?(?=\x20\d)\x20|$))?(?<time>((0?[1-9]|1[012])(:[0-5]\d){0,2}(?i:\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$)$"
					title="Please enter a valid first name." required>
			</div>
		</div>

	</div>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col-5 align-self-center">
				Organization:
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col-5">
	  		<input type="text" name="organization" pattern="^[a-zA-Z0-9 ]*$"
								title="Please enter a valid first name.">
			</div>
		</div>
	</div>

	<br>

	<script>
		function submit(){
			alert("Submit method called.");
		}
	</script>

	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col">
				<button type="button" onclick="submit()">Create a New Account</button>
			</div>
		</div>
	</div>

	<br>
	<div class="d-flex justify-content-center">
		<div class = "row">
			<div class="col">
				<button type="button" onclick="location.href = 'http://localhost:8000/login'; ">Login to Existing Account</button>
			</div>
		</div>
	</div>

</div>



{% endblock %}
